.project-img-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 50rem) {
  .project-img-card-container {
    display: none;
  }
}
