.hero-banner {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
}

.hero-banner-large {
  height: calc(100vh - var(--top-banner-height));
}

.hero-banner-small {
  height: 15rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
