/* CONTENT LAYOUT HEADER*/
.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -7rem;
}

.title,
.sub-title {
  margin: 0.5rem;
}

.profile img {
  max-width: 10rem;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.social {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

/* CONTENT LAYOUT BODY */
.profile-intro {
  text-align: center;
}

.about-content {
  width: 80%;
  max-width: 50rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 50rem) {
  .card-list .md-layout-60 {
    min-width: auto;
    max-width: max-content;
    flex: auto;
  }
  .project-img-container {
    display: none;
  }
}
