:root {
  --font-size: 16px;
  --font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --accent-color: #00aeff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-hover: #016492;
  --bg-elevated: #221f1f;
  --transition-speed: 600ms;

  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-elevated);
}

/* Small screens */
@media only screen and (max-width: 50rem) {
  body:has(.navbar) {
    margin-bottom: calc(var(--top-banner-height));
  }
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* LAYOUT */
.md-layout-60 {
  min-width: 60%;
  max-width: 60%;
  flex: 0 1 60%;
}

.md-layout-40 {
  min-width: 40%;
  max-width: 40%;
  flex: 0 1 40%;
}

/* THEMES */
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --accent-color: #00aeff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-hover: #001f2c;
  --bg-elevated: #221f1f;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --accent-color: #00b3ff;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-hover: #001f2c;
  --bg-elevated: #fffefe;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --accent-color: #b3ff00;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-hover: #e2ff9e;
  --bg-elevated: #ebe1c9;
}
